{% load staticfiles %}
{% load i18n %}
<div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
    <input class="input100" type="text" name="forget_pwd_email" placeholder="{% trans "Email" %}" id="forget_pwd_email" required autofocus>
    <span class="focus-input100"></span>
    <span class="symbol-input100"><i class="fa fa-envelope"></i></span>
</div>
<div class="container-login50-form-btn p-t-10">
    <button type="button" class="login100-form-btn" onclick="forget_password()">{% trans "Reset" %}</button>
</div>
<div class="text-center w-full mt-5">
    <a class="txt1" href="#" data-dismiss="modal" aria-label="Close" onclick="on_click_open_signin_modal()">{% trans "Go To Sign In" %} <i class="fa fa-long-arrow-right"></i></a>
</div>
<script>
    function forget_password(){
        var email = $("#forget_pwd_email").val();
        if (email === "") {
            show_message("warning", "{% trans "Warning" %}", "{% trans "Please input the email" %}");
            return;
        }
        // validate email format
        if (email.indexOf("@") < 0){
            show_message("warning", "{% trans "Warning" %}", "{% trans "Invalid email format." %}");
            $("#forget_pwd_email").focus();
            return;
        }
        if (email.split("@")[1].indexOf(".") < 0){
            show_message("warning", "{% trans "Warning" %}", "{% trans "Invalid email format." %}");
            $("#forget_pwd_email").focus();
            return;
        }

        $.ajax({
            type: "POST",
            url: "/forget_password",
            data: {
                email: email
            },
            success: function(res) {
                if (res === "success"){
                    show_message("success", "{% trans "Success" %}", "{% trans "Your password is reset. We have sent the new password to your email." %}");
                    $("#forget_password_modal").modal("hide");
                }
                else if (res === "unknown_email"){
                    show_message("warning", "{% trans "Warning" %}", "{% trans "Unregistered email." %}");
                }
                else if (res === "fail_send_email") {
                    show_message("warning", "{% trans "Warning" %}", "{% trans "This email is unreachable." %}");
                }
                else {
                    show_message("error", "{% trans "Error" %}", "{% trans "Fail to reset password." %}");
                }
            }
        })
    }

    function on_click_open_signin_modal(){
        $("#signin_link").trigger("click");
    }
</script>