{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{# slider 1 #}
<div class="slider-item" style="background-image: url('/static/welcome_page/images/BG_HOME_0.png');">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-12 text-left col-sm-12 element-animate">
                <h1 class="mb-4 ml-0"><span>{% trans "SECUROLOGY<br>Your personal safety starts with your digital safety" %}</span></h1>
                <p class="mb-5 ml-1" style="color: #1D5C99; font-size: medium;">{% trans "Securology, is unique in providing consulting and professional services in protecting private information for individuals and companies' personal devices, and includes office devices, portable and also smart devices of all kinds, through safe and reliable technologies" %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
    <img class="bg-net-design" src="{% static "/welcome_page/images/BG_Net_Design.png" %}" alt="Net Design">
</div>

{# slider 2 #}
<div class="slider-item" style="background-image: url('/static/welcome_page/images/BG_HOME_1.png');">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-12 text-left col-sm-12 element-animate">
                <h1 class="mb-4 ml-0"><span>{% trans "Are you being watched !! penetrative!! Or digitally threatened" %}</span></h1>
                <p class="mb-5" style="color: #1D5C99; font-size: large;">{% trans "We provide you with a security analysis service for your private or mobile device from spyware and penetration tools and vulnerabilities" %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-5"></div>
    <img class="bg-net-design" src="{% static "/welcome_page/images/BG_Net_Design.png" %}" alt="Net Design">
</div>

{# slider 3 #}
<div class="slider-item" style="background-image: url('/static/welcome_page/images/BG_HOME_2.png');">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-12 text-left col-sm-12 element-animate">
                <h1 class="mb-4 ml-0"><span>{% trans "You are a keen person and are looking for the safety of your devices and I set up your family" %}</span></h1>
                <p class="mb-5" style="color: #1D5C99; font-size: large;">{% trans "We provide you with a security analysis service for your private or mobile device and also for your family members from tools and spyware and penetration loopholes" %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
    <img class="bg-net-design" src="{% static "/welcome_page/images/BG_Net_Design.png" %}" alt="Net Design">
</div>

{# slider 4 #}
<div class="slider-item" style="background-image: url('/static/welcome_page/images/BG_HOME_3.png');">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-12 text-left col-sm-12 element-animate">
                <h1 class="mb-4 ml-0"><span>{% trans "You have a problem !! Your device is slow !! Or acting unusually" %}</span></h1>
                <p class="mb-5" style="color: #1D5C99; font-size: large;">{% trans "We provide you with maintenance and analysis service for technical problems for your private or mobile device, including service also get rid of spyware and penetration tools and gaps" %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
    <img class="bg-net-design" src="{% static "/welcome_page/images/BG_Net_Design.png" %}" alt="Net Design">
</div>

{# slider 5 #}
<div class="slider-item" style="background-image: url('/static/welcome_page/images/BG_HOME_4.png');">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
        <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-12 text-left col-sm-12 element-animate">
                <h1 class="mb-4 ml-0"><span>{% trans "Work and distance education<br> Now are your equipment and your family's devices protected against hacking and espionage?" %}</span></h1>
                <p class="mb-5" style="color: #1D5C99; font-size: large;">{% trans "We provide you with maintenance and analysis service for technical problems for your private or mobile device, including service also get rid of spyware and penetration tools and gaps" %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-5"></div>
    <img class="bg-net-design" src="{% static "/welcome_page/images/BG_Net_Design.png" %}" alt="Net Design">
</div>