{% load staticfiles %}
{% load i18n %}
<div id="software_download_modal" class="modal modal-adminpro-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog" style="width: 300px; margin-top: 150px;">
        <div class="modal-content" style="background-color: #f5f5f5">
            <div class="modal-header header-color-modal star-back-color" style="padding-right:20px; padding-left: 20px;">
                <h4 class="modal-title"><i class="fa fa-cubes"></i> {% trans 'Softwares' %}
                    <a class="close star-back-color" onclick="on_close_software_download_modal()">
                        <i class="fa fa-close"></i>
                    </a>
                </h4>
            </div>
            <div class="col-lg-12" style="max-height:600px;padding: 0px; overflow-x: hidden; overflow-y: auto">
                <div class="box-body">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <div class="form-group-inner">
                                <div class="page-content" id="div_software_list">
                                    <div class="col-12 col-md-12 p-0">
                                        <label class="hide" for="program">{% trans "Programs" %}</label>
                                        <select class="form-control select2" id="program">
                                            {% for software in softwares %}
                                                <option value="{{ software.id }}">{{ software.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-flat" onclick="on_click_download_software()">{% trans 'Download' %}</button>
                <button type="button" class="btn btn-primary btn-flat" onclick="on_close_software_download_modal()">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    function on_open_software_download_modal() {
        open_modal("software_download_modal");
        $(".select2").select2();
    }

    function on_close_software_download_modal() {
        close_modal("software_download_modal");
    }

    function on_click_download_software(){
        var software_id = $("#program").val();
        $.ajax({
            type: "POST",
            url: "adminsettings/get_software_by_id",
            data: {
                software_id: software_id
            },
            success: function(res){
                if (res !== "failure"){
                    var data = JSON.parse(res);
                    var file_ext = data["path"].split(".");
                    file_ext = file_ext[file_ext.length-1];

                    var element = document.createElement('a');
                    element.setAttribute('href', data["path"]);
                    element.setAttribute('download', data["name"] + "." + file_ext);

                    element.style.display = 'none';
                    document.body.appendChild(element);

                    element.click();

                    document.body.removeChild(element);

                }
            }
        })
    }

</script>